.friendList {
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3),
        2px 2px 2px rgba(0, 0, 0, 0.3),
        3px 3px 3px rgba(0, 0, 0, 0.3),
        4px 4px 9px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

.friendList>.addButton {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    margin: 10px 0;
    padding: 20px 10px;
    text-align: center;
}

.friendList>.addButton:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.friendList .editName {
    display: flex;
    margin: 8.5px 0;
}

.friendList .editName .editNameInput {
    flex-grow: 1;
}

.friendList>.header {
    font-size: large;
    font-weight: 500;
}

.friendListItem {
    display: flex;
    font-size: smaller;
    padding: 10px 0;
}

.friendList .control {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 10px;
}

.friendList .control:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.friendListItem>.name {
    flex-grow: 1;
}