.purchaseControls {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0;
}

.purchaseControls .control {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 10px;
}

.purchaseControls .control:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}