.container {
  flex: 1;
  max-width: 600px;
}

.purchases {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.versionCode {
  display: flex;
  font-size: xx-small;
  justify-content: center;
  padding: 20px;
}